.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 100%;
  /* height: 200px; */
}

.login > a {
  text-decoration: none;
  padding: 20px;
  border-radius: 90px;
  background-color: #1db954;
  color: white;
  font-weight: 800;
}
